<?php

/**
 * @var Magento\Framework\View\Element\Template $block
 */

$om = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $om->get('Magento\Customer\Model\Session');
?>
<fieldset class="fieldset create account" data-hasrequired="<?= $block->escapeHtml(__('* Required Fields')) ?>">
    <legend class="legend"><span><?= $block->escapeHtml(__('Linkedin Profile')) ?></span></legend>
    <br>

    <div class="field linkedin_profile required">
        <label for="linkedin_profile"
               class="label"><span><?= $block->escapeHtml(__('Linkedin Profile')) ?></span></label>
        <div class="control">
            <input type="text" name="linkedin_profile" id="linkedin_profile"
                   title="<?= $block->escapeHtml(__('Linkedin Profile')) ?>" class="input-text"
                   data-validate="{required: true, 'validate-linkedin-profile': true}" autocomplete="off"
                   value="<?= $customerSession->getCustomer()->getData()['linkedin_profile'] ?>"
            >
        </div>
    </div>
</fieldset>
